{% extends 'components/navbar.html' %}

{% load static %}

{% block content %}
<body>
    <form action="" method="get">
        <input type="text" name="search" placeholder="Search" value="{{ request.GET.search }}">
        <input type="submit" value="Search">
    </form>

    {% for tag in tags %}
        <a href="?tag={{ tag.id }}" class="btn btn-secondary">#{{ tag.title }}</a>
    {% endfor %}

    <h2>
        Sort by
    </h2>

    <a href="?sort=created_at&order=asc" class="btn btn-secondary">Newest</a>
    <a href="?sort=created_at&order=desc" class="btn btn-secondary">Oldest</a>
    <a href="?sort=rate&order=asc" class="btn btn-secondary">Rate (asc)</a>
    <a href="?sort=rate&order=desc" class="btn btn-secondary">Rate (desc)</a>

    <h1>
        Post list
    </h1>

    {% for post in posts %}
        <div class="card" style="width: 18rem;">
            {% if post.image %}
                <img src="/media/{{ post.image }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'empty.jpg' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ post.title }} {{ post.rate }}</h5>
            <p class="card-text">{{ post.created_at }}</p>
            {% for tag in post.tags.all %}
                <a href="#" class="btn btn-secondary">#{{ tag.title }}</a>
            {% endfor %}
            <a href="#" class="btn btn-secondary">#{{ post.category }}</a>

            <a href="/posts/{{ post.id }}/" class="btn btn-primary">View</a>
            </div>
        </div>
    {% endfor %}

<h1>
    Pages 
</h1>
    
    {% for page in pages %}
        <a href="?page={{ page }}" class="btn btn-secondary">{{ page }}</a>
    {% endfor %}

</body>
</html>

{% endblock %}
